@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to Lab4</h1>
    <h3>My nameis Hoang Viet Gia Huy</h3>
    <h3> Student ID: 04097630</h3>
    <h3> email: viet0009@algonquinlive.com</h3>
    <h3>Thanks you for looking </h3>

</div>